<fragment th:remove="tag" th:include="admin/@frg/html/static :: html_head" />
<div class="container">
    <div th:replace="admin/@frg/navbar :: navbar"></div>
    <hr />
    <div class="col-md-12 ms-auto me-auto">
        <div class="row g-2">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="/img/noimg.png" max-width="30%" class="img-fluid rounded-start" alt="...">
                        <button onclick="alert('Image update function not ready yet. \nTODO List : 32')"
                            class="btn btn-primary d-block ms-auto me-auto mt-3">Update image</button>
                    </div>
                    <div class="col-md-8">
                        <form class="form-inline" method="post" th:action="|/admin/product/edit/${product.id}|">
                            <div class="card-body" for="productdata">
                                <h5 class="card-title text-center mb-3" th:text="${product.name}"></h5>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" id="lockUnlockCard">
                                    <label class="form-check-label" for="lockUnlockCard">Unlock</label>
                                </div>
                                <div class="input-group mb-3 input-group-sm">
                                    <input type="text" name="name" th:value="${product.name}" class="form-control"
                                        aria-describedby="basic-addon1" disabled>
                                </div>
                                <div class="input-group mb-3 input-group-sm">
                                    <textarea type="text" name="description" th:text="${product.description}"
                                        class="form-control" rows="5" aria-describedby="basic-addon1"
                                        disabled></textarea>
                                </div>
                                <div class="col-4 mx-auto">
                                    <div class="input-group mb-3 input-group-sm ">
                                        <input type="number" min="0" style="text-align:right;" name="priceBig"
                                            th:value="${product.priceBig}" class="form-control" disabled>
                                        <span class="input-group-text"><i class="fa-solid fa-euro-sign"></i></span>
                                        <input type="number" min="0" name="priceSmall" th:value="${product.priceSmall}"
                                            class="form-control" disabled>
                                        <span class="input-group-text"><i class="fa-solid fa-cent-sign"></i></span>
                                    </div>
                                </div>
                                <div class="input-group justify-content-between g-1">
                                    <div class="col-sm-3 text-center">
                                        <label class="text-muted" for="exampleFormControl">Category</label>
                                        <select disabled class="form-select" id="specificSizeSelect" name="department">
                                            <option value="">No category</option>
                                            <option th:selected="( ${product.getDepartment()} !=null )"
                                                th:each="dep : ${depList}" th:text="${dep.name}" th:value="${dep.id}">
                                        </select>
                                    </div>
                                    <div class="col-sm-3 text-center">
                                        <label class="text-muted" for="specificSizeSelect">Supplier</label>
                                        <select disabled class="form-select" id="specificSizeSelect" name="supplier">
                                            <option value="" selected>No Supplier</option>
                                            <option th:selected="( ${product.getSupplier()} !=null )"
                                                th:each="sup : ${supList}" th:text="${sup.name}" th:value="${sup.id}">
                                        </select>
                                    </div>
                                    <div class="col-sm-3 text-center">
                                        <label class="text-muted" for="specificSizeSelect">Marker</label>
                                        <select disabled class="form-select" id="specificSizeSelect" name="maker">
                                            <option value="" selected>No Marker</option>
                                            <option th:selected="( ${product.getMaker()} !=null )"
                                                th:each="mk : ${makerList}" th:text="${mk.name}" th:value="${mk.id}">
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12 ms-auto text-end p-3">
                                <div class="d-flex justify-content-between">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" name="active" type="checkbox" role="switch"
                                            id="productactive" th:checked="${product.active}" disabled />
                                        <label class="form-check-label" for="productactive">Active Product</label>
                                    </div>

                                    <div class="d-block justify-content-between">
                                        <button type="submit" name="option" value="remove"
                                            class="btn btn-sm btn-outline-danger" disabled>
                                            Remove
                                        </button>
                                        <button type="submit" name="option" value="update"
                                            class="btn btn-sm btn-outline-primary" disabled>
                                            Update
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</div>
</div>
<script>
    let switchBtn = document.getElementById("lockUnlockCard");
    switchBtn.addEventListener("click", function (e) {
        let lable = document.querySelector("label[for=lockUnlockCard]")
        let selectText = ".input-group input, select, textarea, input#productactive, button[type=submit]";
        let inputs = document.querySelectorAll(selectText);
        lable.textContent = (this.checked) ? "Lock" : "Unlock";
        inputs.forEach(elem => { elem.disabled = !this.checked });
    });



</script>

<fragment th:include="admin/@frg/html/footer :: footer" th:remove="tag" />
<fragment th:include="admin/@frg/html/static :: javascript" th:remove="tag" />
</body>

</html>