<fragment th:remove="tag" th:include="admin/@frg/html/static :: html_head"></fragment>
<div class="container">
    <div th:replace="admin/@frg/navbar :: navbar"></div>
    <hr />
    <div class="col-md-12">
        <div class="row g-2">
            <!-- LIST -->
            <div class="col-md-4">

                <div class="list-group">
                    <div class="list-group-item list-group-item-actio p-1">
                        <label class="list-group fs-4 text-muted text-center">Add Suppliers</label>
                        <div class="input-group my-3">
                            <button type="button" id="modal-add-product" class="btn btn-sm btn-primary ms-auto"
                                data-bs-toggle="modal" data-bs-target="#modal">Add
                                Supplier <i class="fa-solid fa-square-plus ms-1"></i>
                            </button>
                        </div>
                    </div>
                    <div></div>
                    <a href="/admin/suppliers/all" aria-current="true"
                        th:classappend="${ styleActiveClass == -1 } ? 'active' :''"
                        class="list-group-item list-group-item-action">Show All</a>

                    <a href="/admin/suppliers" aria-current="true"
                        th:classappend="${ styleActiveClass == 0 } ? 'active' :''"
                        class="list-group-item list-group-item-action">No Supplier</a>

                    <a th:each="s: ${suplierList}" th:href="|/admin/suppliers/${s.id}|"
                        th:classappend="${ styleActiveClass == s.id } ? 'active' :''"
                        class="list-group-item list-group-item-action d-flex" role="button">
                        <th:block th:utext="${s.name}"></th:block>
                        <button type="button" 
                            th:data-bs-data='|{"name":"${s.name}","contact":"${s.contact}","email":"${s.email}","id":"${s.id}"}|'
                            class="btn-modal-error btn btn-sm btn-warning ms-auto" data-bs-toggle="modal"
                            data-bs-target="#modal">
                            Details<i class="fa-solid fa-pen ms-1"></i>
                        </button>
                    </a>
                </div>
            </div>

            <!-- PRODUCTS LIST -->
            <div class="col-md-8">
                <div class="row row-cols-1 row-cols-md-2 g-1">
                    <fragment th:include="~{@common/products_card :: products(productList=${productList})}"th:remove="tag"></fragment>
                </div>
            </div>
        </div>
        <!-- Pagination -->
        <div class="mt-5">
            <fragment th:include="admin/@frg/html/static :: pagination" th:remove="tag" />
        </div>
    </div>
    <fragment th:include="admin/@frg/html/footer :: footer" th:remove="tag" />
    <fragment th:include="admin/@frg/html/static :: javascript" th:remove="tag" />
</div>

<!-- MODAL -->
<div class="modal fade" id="modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/admin/suppliers" method="post">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Supplier</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <input type="hidden" name="id">
                    <div class="input-group mb-3 input-group-sm">
                        <input type="text" name="name" class="form-control" placeholder="Company name" aria-label=""
                            aria-describedby="basic-addon2" />
                    </div>
                    <div class="input-group mb-3 input-group-sm">
                        <input type="text" name="contact" class="form-control" placeholder="Contact name" aria-label=""
                            aria-describedby="basic-addon2" />
                    </div>
                    <div class="input-group mb-3 input-group-sm">
                        <input type="text" name="email" class="form-control" placeholder="Email" aria-label=""
                            aria-describedby="basic-addon2" />
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" data-bs-dismiss="modal" class="btn btn-sm btn-outline-danger me-1">
                        Close <i class="fa-solid fa-trash ms-1"></i></button>
                    <button type="submit" class="btn btn-sm btn-outline-success">
                        Add <i class="fa-solid fa-square-plus ms-1"></i>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    document.querySelectorAll('a > button[data-bs-target="#modal"]')
        .forEach(item => {
            item.addEventListener('click', event => {
                event.preventDefault();
                return false;
            })
        });

        var modalUpdate = document.getElementById('modal');
        modalUpdate.addEventListener('show.bs.modal', function (event) {
            let button = event.relatedTarget;
            let jsonData = JSON.parse( button.getAttribute('data-bs-data') );
            if( jsonData )
            {
                Object.entries(jsonData).forEach( ([key, value]) => {
                    console.log(key);
                    this.querySelector('input[name='+key+']').value = value; 
                } );
                
                this.querySelector('.modal-title').textContent  = "Details : " + jsonData.name;
                this.querySelector('button[type=submit]').textContent = "Update";
                let form = this.querySelector("form").action = "/admin/suppliers/update/" + jsonData.id;
            }
        });
</script>
<!-- Auto Modal OPEN -->
<!-- <script>window.onload = function () { document.getElementById("modal-add-product").click(); };</script> -->
<!-- MODAL END -->


</body>

</html>