<div th:fragment="department" >
    <h1>Add Department</h1>
    <form method="post" action="/admin/department">
        <input type="text" name="name">
        <button type="submit" name="option" value="add">Add new department</button>
    </form>
    <ul>
        <li th:each="department: ${department}">
            <span th:text="|ID: ${department.id}  ${department.name}|"></span>
            <form method="post" action="/admin/department">
                <input type="hidden" name="id" th:value="${department.id}">
                <button type="submit" name="option" value="delete">Remove Department</button>
            </form>
        </li>
    </ul>
<div>