<div th:fragment="production">
    <h1>Add production</h1>

    <form method="post" action="/admin/add-product">
        <input type="text" name="name">

        <select name="departmentID">
            <option th:each="department: ${department}" th:value="${department.id}" th:text="${department.name}">
        </select>

        <button type="submit" name="">Add new department</button>
    </form>


    <div th:each="productList : ${productList}">
        <div style="border: 1px solid black; margin:5px">
            <span th:text="|Production: ${ productList.name }|"></span>
            <br />
            <span th:text="|Category: ${ productList.category }|"></span>
            
            <div style="margin: 2px 0 0 0">
                <form method="post" action="/admin/update-product">
                    
                    <div>
                        <label>Set Category :</label>
                        <input type="hidden" th:value="${ productList.id }" name="id" />

                        <select name="departmentID">
                            <option th:each="department: ${department}" th:value="${department.id}"
                                th:text="${department.name}">
                        </select>
                    </div>
                    <div>
                        <label>Set Supplier :</label>
                        <input type="hidden" th:value="${ productList.id }" name="id" />

                        <select name="departmentID">
                            <option th:each="department: ${department}" th:value="${department.id}"
                                th:text="${department.name}">
                        </select>
                    </div>
                    <div>
                        <label>Set Maker :</label>
                        <input type="hidden" th:value="${ productList.id }" name="id" />

                        <select name="departmentID">
                            <option th:each="department: ${department}" th:value="${department.id}"
                                th:text="${department.name}">
                        </select>
                    </div>

                    <div style="margin:15px 0 0 0">
                        <button type="submit" name="">Update</button>
                    </div>
                </form>
            </div>

        </div>

    </div>


    <div>