<fragment th:remove="tag" th:include="public/@frg/html/static :: html_head" />
<div class="container">
    <th:block th:replace="public/@frg/html/navbar :: navbar" th:remove="tag"></th:block>
    <hr />

    <div class="container">
        <!-- PRODUCTS LIST -->
        <div class="col-md-12">
            <div class="row row-cols-1 row-cols-md-2 g-1">
                <fragment 
                    th:include="~{@common/products_card2 :: products(productList=${productList})}" 
                    th:remove="tag">
                </fragment>
            </div>

        </div>
        <!-- Pagination -->
        <!-- <div class="row col-12 mt-5">
            <fragment th:include="admin/@frg/html/static :: pagination" th:remove="tag" />
        </div> -->
    </div>
</div>
<fragment th:include="public/@frg/html/footer :: footer" th:remove="tag"/>
<!-- <fragment th:include="public/@frg/html/static :: javascript" th:remove="tag"/> -->
</body>

</html>