<th:block th:fragment="products">
    <div class="col" th:each="prod: ${productList}">
        <div class="card">
            <!-- <img src="..." class="card-img-top" alt="..."> -->
            <div class="card-body">
                <h5 th:text="${prod.name}">TITLE</h5>
                <p class="card-text">DESCRIPTION</p>
                <div class="btn-group" role="group" aria-label="Basic outlined example">
                    <a type="button" class="btn btn-sm btn-outline-danger me-1">
                        Remove<i class="fa fa-trash ms-1"></i>
                    </a>
                    <a type="button" th:href="|/admin/product/${prod.id}|" class="btn btn-sm btn-outline-primary">
                        Details
                    </a>
                </div>
            </div>
        </div>
    </div>
</th:block>